.cv-item {
  margin-top: 1.5rem;
  display: grid;
  grid-template:
    'h h h h l l'
    'b b b b b b';
  gap: 0 2rem;
  @media screen and (max-width: $mobile-breakpoint) {
    grid-template:
    'l l l l l l'
    'h h h h h h'
    'b b b b b b';
    margin-top: 2rem;
  }
  &-header {
    grid-area: h;
    &--title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: $font-weight-light;
      color: $primary-color;
    }
    &--subtitle {
      font-weight: $font-weight-medium;
      margin-bottom: .75rem;
      line-height: 1.4;
    }
  }
  &-body {
    grid-area: b;
  }
  &-location {
    grid-area: l;
    margin-top: .4rem;
    text-align: right;
    font-style: italic;
    line-height: 1.4;
    &--title {
      color: $primary-color;
      font-size: .9rem;
    }
    &--subtitle {
      display: block;
      font-weight: $font-weight-medium;
      font-size: .8rem;
    }
  }
}